html, body {
    padding: 0;
    font-family: sans-serif;
    background-color: #e6e0d8;
    color: #006;
}

p {
    margin: 0 0 1em;
    line-height: 1.4em;
}

.container {
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}