@import "bootstrap";

html, body {
    padding: 0;
    font-family: sans-serif;
    background-color: #e6e0d8;
    color: #006;
}

h1 {
    margin: 0 0 1rem;
}

h2 {
    margin: 0 0 0.3rem;
}

p {
    margin: 0 0 1em;
    line-height: 1.4em;
}

ol {
    padding: 0 0 0 1.2rem;
}

input, button {
    cursor: pointer;
}

.container {
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

// GitHub link
.github-icon {
    height: 18px;
    width: 18px;
}

.github-link {
    display: flex;
}

.github-text {
    margin-right: 0.1em;
}